<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method='POST'>
        {% csrf_token %}
        {%for row in form%}
            {{row.label_tag}} {{row}} {{row.errors|striptags}}<br><br>
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</p>
            {% endfor %}
        {% endif %}
        <button type='submit'>Submit</button>
    </form>
</body>
</html>