<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/add">
            <div class="content">
                <label for="">Student Name</label>
                <input type="text" name="sname">
            </div>
            <div class="content">
                <label for="">Student class</label>
                <input type="text" name="div">
            </div><div class="content">
                <label for="">Student RollNo</label>
                <input type="text" name="rollno">
            </div><div class="content">
                <label for="">Phone Number</label>
                <input type="text" name="phone">
            </div>
            <div class="btn">
                <button type="submit">Add Student</button>
            </div>
        </form>
        {{msg}}
    </div>
</body>
</html>